<div id = "container">
    <div id = "content">

      <div id = "head">
          <h1>Record details</h1>
          <p>Your record details can be adjusted here</p>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class= "input-group-text" for="Species">Species</label>
        </div>
        <select [(ngModel)]="fish.Species" name="Species" class="form-control" id="Species">
          <option *ngFor="let species of species">{{ species }}</option>
        </select >
      </div>

      <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="SubSpecies">Sub-Species</label>
          </div>
          <input [(ngModel)]="fish.SubSpecies" name="SubSpecies" type="text" class="form-control" id="SubSpecies">
      </div>
  
      <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="Weight">Weight</label>
          </div>
          <input [(ngModel)]="fish.Weight" name="Weight" type="text" class="form-control" id="Weight">
      </div>
  
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class= "input-group-text" for="BaitStyle">Bait Style</label>
        </div>
        <select [(ngModel)]="fish.BaitStyle" name="BaitStyle" class="form-control" id="BaitStyle">
          <option *ngFor="let bait of baits">{{ bait }}</option>
        </select >
      </div>

      <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="BaitDesc">Bait Description</label>
          </div>
          <input [(ngModel)]="fish.BaitDesc" name="BaitDesc" type="text" class="form-control" id="BaitDesc">
      </div>
      
      <div id="function">
        <button routerLink="/fish/list" class="btn btn-info">Previous</button>
        <button (click)="change()" class="btn btn-success change">Update Catch Details</button>
      </div>
      
      </div>
</div>

