<div id = "container">
  <div id = "Header">
      <h2>{{ Header }}</h2>
      <p>Here's a chart of all your currently registered fishing rods!</p>
  </div>
    
  <div id = "create">
    <span><a routerLink="/rods/create">Track new rod</a></span>
  </div>
    
  <div id = "data">
    <table class = "table table-striped">
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Power</th>
        <th>Action</th>
        <th>Tools</th>
      </tr>
      <tr *ngFor="let f of rods">
        <td >{{ f.Make }}</td>
        <td>{{ f.Model }}</td>
        <td>{{ f.Power }}</td>
        <td>{{ f.Action }}</td>
        <td>
          <span class = "edit"><a routerLink="/rods/edit/{{f.Id}}">Edit Record</a></span>
          <span> | </span>
          <span *ngIf="!f.Markedforremoval" class = "confirm"><a routerLink = "/rods/mark/{{f.Id}}">Remove Rod</a></span>
          <span *ngIf="f.Markedforremoval" class = "confirm"><a routerLink = "/rods/mark/{{f.Id}}">Cancel</a></span>
          <span *ngIf="f.Markedforremoval"> | </span>
          <span *ngIf="f.Markedforremoval" class = "confirm"><a routerLink = "/rods/remove/{{f.Id}}">Confirm</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>

