<div id = "container">
    <div id = "content">

        <div id = "head">
          <h2>Catch Data</h2>
          <p>Enter your catch data here, weight can be left blank if you didn't record it!</p>
        </div>
      
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="Species">Species</label>
              </div>
              <input [(ngModel)]="fish.Species" name="Species" type="text" class="form-control" id="Species">
          </div>

          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="SubSpecies">Sub-Species</label>
              </div>
              <input [(ngModel)]="fish.SubSpecies" name="SubSpecies" type="text" class="form-control" id="SubSpecies">
          </div>
      
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="Weight">Weight</label>
              </div>
              <input [(ngModel)]="fish.Weight" name="Weight" type="text" class="form-control" id="Weight">
          </div>
      
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="BaitStyle">Bait Style</label>
              </div>
              <input [(ngModel)]="fish.BaitStyle" name="BaitStyle" type="text" class="form-control" id="BaitStyle">
          </div>

          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="BaitDesc">Bait Description</label>
              </div>
              <input [(ngModel)]="fish.BaitDesc" name="BaitDesc" type="text" class="form-control" id="BaitDesc">
          </div>
      
          <div id="function">
              <button (click)="create()" class="btn btn-primary">Record Catch</button>
          </div>
      
      </div>
</div>

